/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #174165;
  --ifm-color-primary-dark: #153a5b;
  --ifm-color-primary-darker: #143756;
  --ifm-color-primary-darkest: #102d47;
  --ifm-color-primary-light: #19476f;
  --ifm-color-primary-lighter: #1a4b74;
  --ifm-color-primary-lightest: #1e5483;
  --ifm-code-font-size: 95%;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
    --ifm-color-primary: #57b0ff;
    --ifm-color-primary-dark: #35a0ff;
    --ifm-color-primary-darker: #2498ff;
    --ifm-color-primary-darkest: #007fef;
    --ifm-color-primary-light: #79c0ff;
    --ifm-color-primary-lighter: #8ac8ff;
    --ifm-color-primary-lightest: #bee0ff;
}
